
<div class="row column-gap-2 row-gap-2 bg-warning">
{% for note in notes %}
        <div class="col-4 p-3 testborder">
            Summary: {{ note.summary }}
            <br> 
            Text: {{ note.text }}
            <br>
            Date: {{ note.date_created | date:"M j, Y" }}
            <br>
            {% for tag in note.tags.all %}
                {{ tag }}
            {% endfor %}
        </div>        
{% endfor %}  
</div>


    
<style>

.testborder {
    border: 2px solid red;
}

</style>