{% extends "notes/base.html" %}

{% block content %}

<div class="container">
    <h1><small class="text-muted">HTMX Search View</small></h1>
 </div>


<div class="container bg-body-secondary">
    <form method="GET">

        <div class="row">
            <div class="col">
                <input
                    type="text"            
                    name="{{ form.search_text.name }}" 
                    id="{{ form.search_text.id_for_label }}" 
                    value="{{ form.search_text.value }}" 
                    placeholder="Search notes..."
                    hx-get="{% url 'h_search_note' %}"
                    hx-trigger="keyup delay:500ms"
                    hx-target="#results">
                    
            </div>

            <div class="col-4">
                {% for checkbox in form.search_tags %}
                    <input
                        type="checkbox" 
                        name="{{ form.search_tags.name }}[]" 
                        id="{{ checkbox.id_for_label }}" 
                        value="{{ checkbox.choice_value }}" 
                        {% if checkbox.is_checked %} checked {% endif %}
                        hx-get="{% url 'h_search_note' %}"   
                        hx-trigger="change"             
                        hx-target="#results">

                        <label for="{{ checkbox.id_for_label }}" id="checkbox.id_for_label">
                            {{ checkbox }}
                        </label>
                        
                        <p>
                            value={{ checkbox.choice_value }}
                        </p> 
                {% endfor %}
            
            </div>

        </div>
    </form>
</div>

<div class="container"></div>

    
    <div id="results">
        {% include 'notes\h_partial_search_note.html' %}
    </div>

</div>
    

<style>
    p {
        color: red;
    }
</style>
{% endblock content %}

