{% extends "notes/base.html" %}

{% block content %}

<div class="container">
    <h1><small class="text-muted">HTMX Search View</small></h1>
 </div>


<div class="container bg-body-secondary">
  

        <div class="row">
            <form class="col-4">
                <input
                    type="text"            
                    name="{{ form.search_text.name }}" 
                    id="{{ form.search_text.id_for_label }}" 
                    value="{{ form.search_text.value }}" 
                    placeholder="Search notes..."
                    hx-get="{% url 'h_search_note' %}"
                    hx-trigger="keyup delay:500ms"
                    hx-target="#results">
            </form>
            </div>

            <form class="col-4">
                
                <div class="col-4">
                    <form class="col-4" hx-get="{% url 'h_search_note' %}" hx-trigger="change" hx-target="#results" >
                
                        {% for checkbox in form.search_tags %}
                            <label> {{ checkbox }}</label>
                        {% endfor %}
                    </form>
                
                  
                </div>



        </div>
    </form>
</div>

<div class="container"></div>

    
    <div id="results">
        {% include 'notes\h_partial_search_note.html' %}
    </div>

</div>
    

<style>
    p {
        color: red;
    }
</style>
{% endblock content %}

