{% extends "notes/base.html" %}

{% block content %}

<div class="container">
    <h1><small class="text-muted">Search View</small></h1>
 </div>


<div class="container">
    <table class="table">
    <thead>
        <tr>
            <th>Summary</th>
            <th>Text</th>
            <th>Date Created</th>
            <th>Tags</th>
            <th>BLANK HEADING</th>
        </tr>
    
    <form class="d-flex" method="post" name="search_text" action="{% url 'search_note' %}">  
    {% csrf_token %}
    
    <tr>
        <td>Summary: {{ form.summary }}</td>
        <td>Text: {{ form.text }}</td>

        <td>Date Created</td>
        <td>
            {% for checkbox in form.tags %}
            <label> {{ checkbox }}</label>
            {% endfor %}
        </td>
        <td>
            <button class="btn btn-outline-secondary" placeholder="" type="submit">Search.</button>
        </td>
    </tr>
    
</form>
</thead>
        
            {% include 'notes\partial_search_results.html' %}
            {% for note in notes %}
                <tr id="search_results">
                    <td>{{ note.summary }}</td>
                    <td>{{ note.text }}</td>
                    <td>
                        {% for tag in note.tags.all %}
                            {{ tag }}
                        {% endfor %}
                    </td>
                    <td>{{ note.date_created | date:"M j, Y" }}</td>
                </tr>
             {% endfor %}

        </tbody>
    </table>

</div>

{% endblock content %}