{% extends "notes/base.html" %}

{% block content %}

<div class="container">
    <h1><small class="text-muted">Search View</small></h1>
 </div>


<div class="container">
    <table class="table">
        <thead>

            <form class="d-flex" method="post" name="search_text" action="{% url 'search_note' %}">
                {% csrf_token %}

                <tr>
                    <th>Summary</th>
                    <th>Text</th>
                    <th>Tags</th>
                    <th>Date Created</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <td>{{ form.summary }}</td>
                    <td>{{ form.text }}</td>
                    <td>{{ form.tags }}</td>
                    <td> BLANK</td>
                    <td><button class="btn btn-outline-secondary" placeholder="Search notes..." type="submit">Search</button> </td>
                    <td>
                        {% if searched %}
                            <h4>You searched for <span style="color: blue;">{{ searched}}</span></h4> 
                        {% else %}
                        {% endif %}    
                    </td>
                </tr>

            </form>
        </thead>
        <tbody>
 
            {% include 'notes\partial_search_results.html' %}
            {% for note in notes %}
                <tr id="search_results">
                    <td>{{ note.summary }}</td>
                    <td>{{ note.text }}</td>
                    <td>
                        {% for tag in note.tags.all %}
                            {{ tag }}
                        {% endfor %}
                    </td>
                    <td>{{ note.date_created | date:"M j, Y" }}</td>
                </tr>
             {% endfor %}

        </tbody>
    </table>

</div>

{% endblock content %}