{% extends "notes/base.html" %}

{% block content %}

<div class="container">
    <h1><small class="text-muted">Search View</small></h1>
 </div>


<div class="container">
    <table class="table">
        <thead>

            <form class="d-flex" method="post" name="search_text" action="{% url 'search_note' %}">
                {% csrf_token %}
                <tr>
                    <td>{{ form }}</td>
                    <td><button class="btn btn-outline-secondary" placeholder="Search notes..." type="submit">Search</button> </td>
                    <td>
                        {% if searched %}
                            <h4>You searched for <span style="color: blue;">{{ searched}}</span></h4> 
                        {% else %}
                        {% endif %}    
                    </td>
                </tr>
                  
                    <!-- <th>{{ form.type }}</th> -->
                    
                    <!-- <th><a class="btn btn-sm btn-primary" href="{% url 'search_note' %}">Search</a></th> -->
                    <!-- <th><a class="btn btn-sm btn-primary" href="{% url 'search_note' %}">Search</a></th> -->
            </form>
        </thead>
        <tbody>
 

            {% for note in notes %}
                <tr>
                    <td>{{ note.summary }}</td>
                    <td>{{ note.text }}</td>
                    <td>
                        {% for tag in note.tags.all %}
                            {{ tag }}
                        {% endfor %}
                    </td>
                    <td>{{ note.date_created }}</td>
                </tr>
             {% endfor %}

        </tbody>
    </table>

</div>

{% endblock content %}